# dependencies
/node_modules

# compiled output
/dist

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
*.code-workspace
.history/*

# System Files
.DS_Store
Thumbs.db
