@import 'modern-normalize/modern-normalize.css';
@import 'variables';
@import 'functions';
@import 'mixins';

html,
body {
  font-family: $font-family-sans-serif;
  background: #333;
  color: #f7f7f7;
}

main {
  padding: 16px;
}

h1,
h2,
h3 {
  margin: 0 0 16px;
}

.area-main {
  width: 100%;
  display: flex;
  gap: 16px;

  .area-l {
    flex: 0 1 50%;
    min-width: 600px;
  }

  .area-r {
    flex: 1 1 auto;
  }
}

label {
  display: block;
  margin-bottom: 4px;

  &.help-text {
    margin-top: 4px;
    font-size: 0.8em;
  }
}

textarea {
  font-family: $font-family-mono;
  width: 100%;
  background-color: #202020;
  border: 1px solid #444;
  color: #fff;
}

#svg-in {
  height: 100px;
}

#mx-out {
  height: 50vh;
}

#convert-btn {
  width: 50%;
  background-color: #111;
  color: $color-primary;
  border: 1px solid #393939;
  padding: 16px;
  margin: 16px 0;
  cursor: pointer;
  transition: color 0.2s ease-out, background-color 0.2s ease-out;

  &:hover,
  &:focus {
    background-color: $color-primary;
    color: #000;
  }
}
