@use 'scss/reset';
@use 'sass:math';

:root {
  --color-primary: hsl(15, 100%, 50%);
  --font-family-mono: 'Source Code Pro', 'Roboto Slab', 'Courier', monospace;
}

main {
  padding: 16px;
}

h1,
h2,
h3 {
  margin: 0 0 16px;
}

.area-main {
  width: 100%;
  display: flex;
  gap: 16px;

  .area-l {
    flex: 0 1 50%;
    min-width: 600px;
  }

  .area-r {
    flex: 1 1 auto;
  }
}

label {
  display: block;
  margin-bottom: 4px;
}

.help-text {
  margin-top: 4px;
  font-size: 0.8em;
}

textarea {
  font-family: var(--font-family-mono);
  width: 100%;
  background-color: #202020;
  border: 1px solid #444;
  color: #fff;
}

.btn {
  background-color: #111;
  color: var(--color-primary);
  border: 1px solid #393939;
  padding: 8px 16px;
  cursor: pointer;
  transition: color 0.2s ease-out, background-color 0.2s ease-out;

  > .material-icons {
    display: inline-flex;
    vertical-align: top;
  }

  > .btn-txt {
    font-size: math.div(14, 16) * 1rem;
    line-height: math.div(20, 14) * 1em;

    + .material-icons {
      font-size: math.div(20, 16) * 1rem;
      margin-left: 8px;
    }
  }

  &:hover,
  &:focus {
    background-color: var(--color-primary);
    color: #000;
  }

  &[disabled] {
    background-color: #444;
    color: #ddd;
    border: 1px solid #303030;
    cursor: not-allowed;
  }
}

#svg-in {
  height: 100px;
}

#mx-out {
  height: 50vh;
}

#convert-btn {
  width: 50%;
  padding: 16px;
  margin: 16px 0;

  .btn-txt {
    font-size: math.div(24, 16) * 1rem;
    line-height: math.div(28, 24) * 1em;
  }

  .material-icons {
    line-height: math.div(28, 16) * 1rem;
  }
}

#svg-preview-container {
  position: relative;
}

// #svg-preview-btn {}

#svg-preview-injection {
  display: none;
  position: absolute;
  border: 1px solid #ccc;
  background-color: #808080;

  #svg-preview-container.preview-showing & {
    display: block;
  }
}
