@import 'modern-normalize/modern-normalize.css';
@import './scss/variables';
@import './scss/functions';
@import './scss/mixins';

html,
body {
  font-family: $font-family-sans-serif;
  background: #333;
  color: #f7f7f7;
}

main {
  padding: 16px;
}

h1,
h2,
h3 {
  margin: 0 0 16px;
}

.area-main {
  width: 100%;
  display: flex;
  gap: 16px;

  .area-l {
    flex: 0 1 50%;
    min-width: 600px;
  }

  .area-r {
    flex: 1 1 auto;
  }
}

label {
  display: block;
  margin-bottom: 4px;

  &.help-text {
    margin-top: 4px;
    font-size: 0.8em;
  }
}

textarea {
  font-family: $font-family-mono;
  width: 100%;
  background-color: #202020;
  border: 1px solid #444;
  color: #fff;
}

.btn {
  background-color: #111;
  color: $color-primary;
  border: 1px solid #393939;
  padding: 8px 16px;
  cursor: pointer;
  transition: color 0.2s ease-out, background-color 0.2s ease-out;

  > .material-icons {
    display: inline-flex;
    vertical-align: top;
  }

  > .btn-txt {
    font-size: rem-font-size(14);
    line-height: em-font-size(20);

    + .material-icons {
      font-size: em-font-size(20);
      margin-left: 8px;
    }
  }

  &:hover,
  &:focus {
    background-color: $color-primary;
    color: #000;
  }

  &[disabled] {
    background-color: #444;
    color: #ddd;
    border: 1px solid #303030;
    cursor: not-allowed;
  }
}

#svg-in {
  height: 100px;
}

#mx-out {
  height: 50vh;
}

#convert-btn {
  width: 50%;
  padding: 16px;
  margin: 16px 0;

  .btn-txt {
    font-size: rem-font-size(24);
    line-height: em-font-size(28, 24);
  }

  .material-icons {
    font-size: em-font-size(28);
  }
}

#svg-preview-container {
  position: relative;
}

#svg-preview-btn {

}

#svg-preview-injection {
  display: none;
  position: absolute;
  border: 1px solid #ccc;
  background-color: #808080;

  #svg-preview-container.preview-showing & {
    display: block;
  }
}

