// https://www.joshwcomeau.com/css/custom-css-reset/

// 1. Use a more-intuitive box-sizing model.
*,
*::before,
*::after {
  box-sizing: border-box;
}

// 2. Remove default margin
* {
  margin: 0;
}

// Typographic tweaks!
// 3. Add accessible line-height
// 4. Improve text rendering
body {
  font-family: 'Segoe UI', roboto, 'Helvetica Neue', arial, sans-serif;
  line-height: 1.5;

  // As long as there's no bg-color on html or :root this bg-color will fill the viewport
  background: #333;
  color: #f7f7f7;

  // Font-smoothing: Only applies to MacOS, and these articles explains why it should not be used
  //   https://usabilitypost.com/2012/11/05/stop-fixing-font-smoothing/
  //   https://ui.dev/rwd/articles/font-smoothing
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
}

// // 5. Improve media defaults
// img, picture, video, canvas {
//   display: inline-block;
//   max-width: 100%;
// }

// 6. Remove built-in form typography styles
input, button, textarea, select {
  font: inherit;
}

// 7. Avoid text overflows
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
